{% extends 'layout.html' %}


{% block main %}

<img src="{{ url_for('static', filename='seoni.png') }}" id="portrait" style="margin-bottom:50%">
<table id="outer-table">
	<tr>
		<td id="table-a" colspan=2>Sorcerer Spontaneous Spell<span style="font-weight: normal;">, DC 21, attack +11</span></td>
	</tr>
	<tr>
		<td id="table-a">Cantrip (3rd)</td>
		<td id="table-b">
			<ul id="equipment">
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=3">Acid splash</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=66">Detect magic</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=126">Forbidding ward</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=245">Ray of frost</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=280">Shield</a></em>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td id="table-a">1st Level <br> (4 slots)</td>
		<td id="table-b">
			<ul id="equipment">
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=44">Color spray</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=141">Grim tendrils</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=3">Magic missile</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=291">Soothe</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=345">True strike</a></em>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td id="table-a">2nd Level <br> (4 slots)</td>
		<td id="table-b">
			<ul id="equipment">
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=78">Dispel magic</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=121">Flaming sphere</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=136">Glitterdust</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=299">Spider climb</a></em>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td id="table-a">3rd Level <br> (3 slots)</td>
		<td id="table-b">
			<ul id="equipment">
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=94">Earthbind</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=147">Haste</a></em>
				</li>
				<li>
					<em><a href="https://2e.aonprd.com/Spells.aspx?ID=172">Lightning bolt</a></em>
				</li>
			</ul>
		</td>
	</tr>
	
</table>

{% endblock main %}